*{
    box-sizing: border-box;
    font-family: 'Balsamic Sans';
}

body{
    background: beige;
}

.navbar{
    background-image: url("../img/navigation.jpg");
    height: 15vh;
    position: relative;
}

#navbarNav{
    justify-content: center;
    text-align: center;
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
    font-size: 25px;

}
.nav-link{
    color: #ccc;
    letter-spacing: 2px;
    font-size: 700;
}

.nav-link:hover{
    background: #dcdde1 !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}