<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>

    <link rel="stylesheet" href="../style/desarrolladores.css">
    <title>Desarrolladores</title>
</head>
<body>

    <%- include('partials/navigation.ejs') %>
    <div class="contenedor">
      <div class="card">
        <div class="head">
          <div class="circle"></div>
          <div class="img">
            <img src="./img/Celeste.jpeg"  alt="alumno1"> 
          </div>
        </div>
        <div class="descripcion">
          <h3>Tolaba Celeste Betsabe</h3> 
          <p>Estudiante de Lic. en Sistema</p> 
        </div>
        <div class="contacto">
          <h3>tceleste243@gmail.com</h3>
        </div>
      </div>

      <div class="card">
        <div class="head">
          <div class="circle"></div>
          <div class="img">
            <img src="./img/sharifVenecia.PNG"  alt="alumno2"> 
          </div>
          </div>  
        <div class="descripcion">
          <h3>Sharif Venecia </h3>
           <p>Estudiante de Ing. Industrial</p>
        </div>
        <div class="contacto">
          
          <h3>venenciaamir@gmail.com</h3>
        </div>
      </div>
      
      <div class="card">
        <div class="head">
          <div class="circle"></div>
          <div class="img">
            <img src="./img/Matias.jpeg"  alt="alumno3"> 
          </div>
        </div>
        <div class="descripcion">
          <h3>Planckensteiner German Matias</h3> 
          <p>Estudiante de Lic. en Sistema</p> 
        </div>
        <div class="contacto">
          <h3>planckmatias@gmail.com</h3>
        </div>
      </div>
      
      <div class="card">
        <div class="head">
          <div class="circle"></div>
          <div class="img">
            <img src="./img/anaTezano.jpg"  alt="alumno4"> 
          </div>
        </div>
        <div class="descripcion">
          <h3>Ana de Tesanos Pinto</h3> 
          <p>Estudiante de Ing. Industrial</p>  
        </div>
        <div class="contacto">
          <h3>anitadtp02@gmail.com</h3>
        </div>
      </div>
               
      <div class="mision"> 
        <div class="card-mision">
          <h2>Mision: </h2> <br>
          <h2>Ofrecer de forma organizada la informacion sobre el cuidado del medio ambiente y toda las actividades saludables que se realizan en la provincia, de manera que sea utily accesible para todos los jujeños.</h2>
        </div>
        <br>
        <div class="card-mision">
          <h2>Vision: </h2> <br>
          <h2>Ser la pagina web de desarrollo sustentable mas usada por todos los jujeños. Dar una impresion positiva de la marca, y fidelizar al usuario para que sea un defensor de la marca.</h2> 
        </div>
      </div>

      <%- include('partials/toast.ejs')%>

</body>
</html>