<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/log-in-toast.css">
    <link rel="stylesheet" href="../style/carrucelPubli.css">
    <title>Agenda Verde</title>
</head>
<body>
    
    <%- include('partials/navigation.ejs') %>
    <div class="log-in-toast" id="btn-abiri-popup">
        <a href="#" id="btn-abiri-popup"> <img class="imglogoperfil" src="../../img/logoperfil.png"alt="logoperfil"></a>
    </div>

    <div class="bienvenida">
        <h1>AGENDA VERDE</h1>
        <img src="./img/logo.png" alt="logo">
    </div>

    <!-- carrusel de la publicidad de los otros trabajos -->
    <h1 class="tituloCarrucel">Otros proyectos en camino</h1>
    <%- include('partials/carrucelPubli.ejs') %>


    
    <!-- inicio de sesion -->
    <div class="overlay" id="overlay">
        <div class="popup" id="popup">
            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"> <i class="bi bi-x"></i> </a>
            <h3>INICIAR SESION</h3>
            <form method="POST" action="/admin-page">
                <div class="contenedor-inputs">
                    <input id="usuario" type="text" name="usuario" placeholder="Usuario" required>
                    <input id="password" type="password" name="password" placeholder="Contraseña" required>
                </div>
                <input type="submit" class="btn-submit" value="Iniciar Sesion">
            </form>
        </div>
    </div>

    <p>modificar los otros calendarios</p>

    <%- include('partials/toast.ejs')%>

        <script>
            var btnAbrirPopup = document.getElementById('btn-abiri-popup');
            var overlay = document.getElementById('overlay');
            var popup = document.getElementById('popup');
            var btnCerrarPopup = document.getElementById('btn-cerrar-popup');

            btnAbrirPopup.addEventListener('click', function(){
                overlay.classList.add('active');
                popup.classList.add('active');
            });

            btnCerrarPopup.addEventListener('click', function(){
                overlay.classList.remove('active');
                popup.classList.add('active');
            })
        </script>
    </body>
    </html>