<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>

    <link rel="stylesheet" href="../style/huellaCarbono.css">
    <title>Recomendaciones</title>
</head>

<body>

    <%- include('partials/navigation.ejs') %>
    <header>
        <h3>LO QUE HACES CUENTA</h3>
        <h2>¡Cuando reduces tu carbono, dejas una huella diferente! </h2>
        <img src="https://www.gifsanimados.org/data/media/47/arbol-imagen-animada-0063.gif" border="0" alt="arbol-imagen-animada-0063" />
     
      </header>
      <section>
        <h2>Aqui va los tips para la huella de carbono</h2>
     </section>

    <%- include('partials/toast.ejs')%>
    
</body>
</html>